.warnVideo{
    width: 7.5rem;
    height: 4.12rem;
    background-color: #646763;
    position: relative;
    video{
        width: 7.5rem;
        height: 4.12rem;
    }
    .videoControls{
        box-sizing: border-box;
        width: 7.5rem;
        height: .88rem;
        padding: 0 .26rem 0 .32rem;
        position: absolute;
        display: flex;
        bottom: 0;
        align-items: center;
        justify-content: space-between;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
        img{
            width: .48rem;
            height: .48rem;
        }
        .progressBar{
            display: flex;
            align-items: center;
            width: 2.18rem;
            height: .04rem;
            background-color: rgba(56, 115, 252, 1);
            position: relative;
            .btn{
                position: absolute;
                transform: translateY(0.04rem);
            }
        }
        .quk{
            width: .96rem;
            height: .48rem;
        }
        span{
            font-size: .28rem;
            color: rgba(255, 255, 255, 1);
        }
    }
}