.header{
    width: 7.5rem;
    height: .88rem;
    display: flex;
    align-items: center;
   
    .time{
        width: 1.08rem;
        height: .36rem;
        font-size: .3rem;
        font-weight: 700;
        margin-left: .42rem;
        text-align: center;
    }
    .state{
        .signal{
            width: .3rem;
            height: .3rem;
        }
    }
}